<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
        <form method="POST">
            <li><button type="submit" name="action" value="How to use">How to use</button></li>
            <li><button type="submit" name="action" value="Credentials">Credentials</button></li>
            <li><button type="submit" name="action" value="Change password">Change password</button></li>
            <li><button type="submit" name="action" value="Logout">Logout</button></li>
        </form> 
        </ul>
    </div>

    <form method="POST" class="container">
        <div class="cross-container">
        <button type="submit" name="action" value="W">W</button>
        <div class="middle-row">

            <button type="submit" name="action" value="A">A</button>
            <button type="submit" name="action" value="O">O</button>
            <button type="submit" name="action" value="D">D</button>
        </div>  

        <button type="submit" name="action" value="S">S</button>
        </div>
    </form>

</body>
</html>